subscription_id      = "00000000-0000-0000-0000-000000000000"
resource_group_name  = "disney-terraform-state"
storage_account_name = "replacewithuniquestoragename"
container_name       = "tfstate"
key                  = "disney-dev.tfstate"
use_azuread_auth     = true
